In [4]:
#table of 5
user_input=int(input("enter a number whose table you wanna get:"))
print("the table of",user_input,"is as follows:")
for i in range(1,11):
  print(user_input, '*' ,i,'=',user_input*i)

enter a number whose table you wanna get:9
the table of 9 is as follows:
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90